canvas {
  position: relative;
  z-index: 1050;
  background-color: transparent;

  &.background {
    // background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1020;
    opacity: 1;
  }

  &#effects {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    opacity: 1;
  }
}