html {
  position: relative;
  height: 100%;
}
body {
  background: $background;
  overflow: hidden;
  position: relative;
  height: 100%;

  &.game {
    #hud,#score {
      opacity: 1;
    }

    #menu {
      opacity: 0;
    }
  }
}

kbd {
  border: 1px solid blue;
  padding: 0 4px;
  margin: 0 2px;
  font-size: 14px;
}